<!-- Sección de proyectos -->
<section id="projects">
    <h1 class="section-heading text-center shadow-lg p-3 mb-5 text-light">Mis Proyectos</h1>
    <div class="container">
        <div class="row">
            <!-- Primer proyecto -->
            <div class="col-md-4">
                <div class="card mb-4 bg-dark text-light">
                    <img src="../../../assets/webPortfolio-project.png" class="card-img-top" alt="Imagen del proyecto">
                    <div class="card-body">
                        <h3 class="card-title">Web Portfolio</h3>
                        <hr>
                        <p class="card-text">Consistió en la creación de un sitio web de portfolio personal
                            utilizando el framework de Angular y Bootstrap para el front-end, Java y MySQL para el
                            back-end. Este proyecto fue mi trabajo final para el programa ArgentinaPrograma y estoy muy
                            orgulloso del resultado final.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>