<!-- Habilidades -->
<h1 class="section-heading text-center shadow-lg p-3 mb-5 text-light">Habilidades</h1>
<section class="habilidades container mt-5 text-light">
    <div class="row">
        <!-- Lenguajes de marcado -->
        <div class="col-12 mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-auto align-self-center w-auto">
                    <h3>Lenguajes de Marcado</h3>
                </div>
                <div class="col">
                    <hr class="w-100 mr-2">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>HTML</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>CSS</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lenguajes de programación -->
        <div class="col-12 mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-auto align-self-center w-auto">
                    <h3>Lenguajes de programación</h3>
                </div>
                <div class="col">
                    <hr class="w-100 mr-2">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>JavaScript</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>Java</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>C</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Frameworks -->
        <div class="col-12 mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-auto align-self-center w-auto">
                    <h3>Frameworks</h3>
                </div>
                <div class="col">
                    <hr class="w-100 mr-2">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>Angular</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>Spring Boot</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Herramientas -->
        <div class="col-12 mb-5">
            <div class="row d-flex align-items-center">
                <div class="col-auto align-self-center w-auto">
                    <h3>Herramientas</h3>
                </div>
                <div class="col">
                    <hr class="w-100 mr-2">
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 text-center mb-3">
                    <h4>Git</h4>
                    <div class="progress" style="height: 25px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>