<section class="educacion text-light">
    <div class="container">
        <h2 class="section-heading pt-3 text-center">Educación</h2>
        <hr class="section-heading-spacer">
        <div class="row clearfix text-center">
            <div class="col-lg-6">
                <div class="card p-3 mb-3 bg-glass border-light">
                    <h4 class="card-title">#YoProgramo</h4>
                    <h6 class="card-subtitle">Full-Stack Web Development</h6>
                    <p class="card-text">Jul 2022 - Ene 2023</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-3 mb-3 bg-glass border-light">
                    <h4 class="card-title">Oracle One</h4>
                    <h6 class="card-subtitle">Web Development</h6>
                    <p class="card-text">Jul 2022 - Ene 2023</p>
                </div>
            </div>
        </div>
    </div>
</section>