/* Logo */
#logoAP {
  padding: 10px;
  width: 150px;
}
/* Social */
.social-list svg {
  margin: 10px 10px;
}
/* Nav */
.navbar {
  background: rgba(30, 30, 30, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(30, 30, 30, 0.2);
}
