<div class="container-fluid bg-dark">
  <div>
    <div class="row">
      <div class="col">
        <h1>Tsu</h1>
        <h3>Junior Full-Stack Developer</h3>
        <p>Hola, soy Luca y tengo 19 años. Me gusta la tecnología y resolver problemas, mi objetivo es ser un
          <strong>desarrollador
            web fullstack</strong>. Aprendo rápido y siempre estoy dispuesto a hacer un esforzarme un poco mas, me
          interesan mucho las nuevas
          tecnologías y busco siempre nuevos retos. Si busca un desarrollador web apasionado y dispuesto a ofrecer los
          mejores resultados, ¡Póngase en contacto conmigo!.
        </p>
      </div>
      <div class="col">
        2 of 2
      </div>
    </div>
  </div>
</div>