.logo img {
  border-radius: 0.5em;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.card-title {
  color: #da7b33;
}

.container {
  height: fit-content;
}

a {
  color: #718bc8;
}
.title {
  color: #D3DAEE;
}
.card {
  border-color: #D3DAEE;
}
