<section class="experiencia text-light">
    <h1 class="section-heading text-center shadow-lg p-3 mb-5">Experiencia</h1>
    <section class="container mx-auto">
        <div class="row row-cols-1 row-cols-md-2 g-5 ">
            <!-- card -->
            <div class="col">
                <div class="card bg-dark shadow-lg">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 pe-0 my-auto">
                                <h4 class="card-title">Asistente de Ingeniería</h4>
                                <h6 class="card-subtitle ">Club de Campo: El Tipal <span
                                        class="text-muted">Jul&nbsp;2022&nbsp;-&nbsp;Nov&nbsp;2022</span>
                                </h6>
                            </div>
                            <div class="col-md-2 col-3  logo"><img src="../../../assets/tipal.jpg" alt="El Tipal Logo"
                                    width="60" height="60">
                            </div>
                        </div>
                        <hr>
                        <p class="card-text">En mi trabajo como asistente en el proyecto de seguridad con tecnologías
                            Arduino, estuve a cargo del control y mantenimiento del sistema para garantizar su correcto
                            funcionamiento.<br>Desarrollé la interfaz gráfica para facilitar la administración e
                            instalación del sistema, y redacté los manuales de usuario y la documentación técnica para
                            ayudar a los usuarios a utilizar el sistema de manera adecuada.<br>Mi trabajo fue
                            fundamental
                            para asegurar la correcta instalación, programación y funcionamiento del sistema de
                            seguridad basado en Arduino.
                        </p>
                    </div>
                </div>
            </div>
            <!-- card -->
            <div class="col">
                <div class="card bg-dark shadow-lg">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 pe-0">
                                <h4 class="card-title">Web Content Manager</h4>
                                <h6 class="card-subtitle ">7CAVAS<span class="text-muted">
                                        Jul&nbsp;2021&nbsp;-&nbsp;Feb&nbsp;2022</span>
                                </h6>
                            </div>
                            <div class="col-md-2 col-3  logo"><img src="../../../assets/7Cavas.png" alt="7CAVAS Logo"
                                    width="60" height="60">
                            </div>
                        </div>
                        <hr>
                        <p class="card-text">En mi trabajo como responsable de la <a href="https://7cavas.com/">página
                                web de la empresa</a>, mi principal
                            objetivo era asegurarme de que el contenido del sitio web fuera relevante, útil y atractivo
                            para nuestro público objetivo. Realizaba tareas de escritura y edición, selección y
                            procesamiento de imágenes y vídeos, y organización lógica del contenido en WordPress.
                            Además, personalizaba el sitio web con diferentes plugins y temas, y promovía el sitio web a
                            través de redes sociales y campañas de
                            marketing en línea. Mi trabajo fue fundamental para asegurar que el sitio web fuera eficaz a
                            la hora de atraer y retener visitantes y ayudar a la empresa a cumplir sus objetivos de
                            negocio.
                        </p>
                    </div>
                </div>
            </div>
            <!-- card -->
        </div>
        <h4 class="p-4 text-center">Podes consultar más sobre mi experiencia laboral en <a
                href="https://www.linkedin.com/in/luca-di-marco-017a4b21a/">LinkedIn</a></h4>

    </section>
</section>