<section class="home bg-dark text-light">
    <div class="container-fluid text-center">
        <div class="row align-items-center">
            <div class="profilePhoto col-md-2 col-xl-3 text-center mx-auto">
                <!-- Un placeholder hasta que tenga una foto buena XD -->
                <img src="../../../assets/profilePhoto.jpg" alt="Foto de perfil" class="mx-auto">
            </div>
            <div class="col-md-8 col-xl-9 mx-auto pe-5 text-md-start">
                <h1>Hola, soy <strong>Tsu</strong></h1>
                <h3>Junior Full-Stack Developer</h3>
                <p>Me llamo Luca Di&nbsp;Marco y soy un estudiante de desarrollo web en busca de oportunidades como
                    desarrollador fullstack.<br> He estado estudiando programación durante los últimos años, me
                    encanta resolver problemas y aprender nuevas tecnologías.
            </div>
        </div>
    </div>
</section>