/* background */
#login{
    height: 93.5vh;
    background: rgb(18,20,23);
    background: linear-gradient(150deg, rgba(18,20,23,1) 50%, rgba(27,30,34,1) 50%);
}
.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

.form-group{
    padding: 0.5em 0;
}
/* Form inputs styles */
.form-control {
    background: transparent;
    border: none;
    height: 50px;
    color: white !important;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    
}
.form-control:hover, .form-control:focus {
    background: transparent;
    outline: none;
    box-shadow: none;
    border-color: rgba(255, 255, 255, .4);
}
.form-control:focus {
    border-color: rgba(255, 255, 255, .4);
}

input{
    color: white !important;
}
input::placeholder {
    color:#CCCCCC;
}

/* Button */
.btn.btn-primary {
    background: #718bc8 !important;
    border: none !important;
    color: #000 !important;
}
.btn.btn-primary:hover{
    background: #2C325F !important;
    color:white !important;
    border: none !important;
}
/* Registro */
p > a {
    color: #718bc8;
}

p > a:hover{
   color: #3F5CA2;
}
/* Home */
.home-button {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.8rem;
  }