<section id="login">
    <div class="login-form row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="container text-center">
                <h3 class="mb-4">¿Ya tenés una cuenta?</h3>
                <form action="#" class="signin-form">
                    <!-- User input -->
                    <div class="form-group field">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" required>
                    </div>
                    <!-- Password input -->
                    <div class="form-group">
                        <input id="password-field" type="password" class="form-control" placeholder="Contraseña"
                            required>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                    <!-- Submit button -->
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Iniciar sesión</button>
                    </div>
                </form>
                <p>¿No tenés cuenta? <a href="#">Registrate</a> </p>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>